<div id="<%= dom_id shop %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= shop.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Domain:</strong>
    <%= shop.domain %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current theme:</strong>
    <%= shop.current_theme %>
  </p>

</div>
