<div id="<%= dom_id theme %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= theme.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shop:</strong>
    <%= theme.shop_id %>
  </p>

</div>
